.prodcard {
      max-width: 286px;
      &__column {
            background: #007fa7;
            border-radius: 8px;
            margin-bottom: 80px;
      }
      &__item {
            padding: 20px 20px 16px 20px;
      }
      &__img {
            margin-bottom: 16px;
            max-width: 286px;
      }
      &__text {
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            text-align: center;
            color: #ffffff;
      }
}


@media (max-width: 768px) {
      .prodcard{
            &__img{
                  max-width: 190px;
            }
      }

}

@media (max-width: 320px) {
      .prodcard{
            &__img{
                  max-width: 240px;
            }
      }
}