.product {
      &__title {
            font-weight: 700;
            font-size: 34px;
            line-height: 48px;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            margin-bottom: 35px;
            text-align: center;
      }
      &__items {
            display: flex;
            justify-content: space-between;
      }
      &__item {
            background: url("./prod1.jpg") center center / cover no-repeat;
            max-width: 445px;
            padding: 24px 24px 149px;
            border-radius: 6px 6px 0 0;
            &-title {
                  font-weight: 700;
                  font-size: 22px;
                  line-height: 25px;
                  letter-spacing: 0.05em;
                  text-transform: uppercase;
                  color: white;
                  margin-bottom: 10px;
            }
            &-sub {
                  font-weight: 400;
                  font-size: 16px;
                  line-height: 22px;
                  color: white;
                  width: 395px;
            }
      }
      &__column {
            position: relative;
      }
      &__catalog {
            background-color: #007fa7;
            display: flex;
            padding: 15px 115px;
            position: absolute;
            align-items: center;
            bottom: -44px;
      }
      &__catalog div {
            margin-right: 7px;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            text-align: center;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            color: #ffffff;
      }
      &__link {
            display: flex;
      }
      &__text {
            padding: 15px 140px;
            background: #007fa7;
            border-radius: 0px 0px 0px 6px;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            text-align: center;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            color: #ffffff;
      }
      &__arrow {
            padding: 12px 16px 12px 17px;
            background: #006f92;
            border-radius: 0px 0px 6px 0px;
      }
}

@media (max-width: 768px) {
      .product {
            &__items {
                  flex-wrap: wrap;
            }
            &__column {
                  width: 48%;
                  margin-bottom: 30px;
                  max-width: 354px;
            }
            &__column:last-child {
                  left: 25%;
            }
            &__text {
                  padding: 15px 94px;
            }
      }
}
@media (max-width: 320px) {
      .product {
            &__items {
                  // justify-content: inherit;
            }
            &__column {
                  width: 100%;
                  // margin-bottom: 30px;
                  // max-width: 290px;
            }
            &__column:last-child {
                  left: 0%;
            }
            &__text {
                  padding: 17px 74px;
                  font-size: 14px;
                  line-height: 16px;
            }
            &__item {
                  &-title {
                        font-size: 16px;
                        line-height: 19px;
                  }
                  &-sub {
                        width: 266px;
                        font-size: 14px;
                        line-height: 19px;
                  }
            }
      }
}
