.card {
      &__one {
            display: flex;
            justify-content: space-between;
            align-items: center;
            display: flex;
            margin-bottom: 80px;
      }
      &__two {
            display: flex;
            justify-content: space-between;
            align-items: center;
            display: flex;
            margin-bottom: 80px;
      }
      &__three {
            display: flex;
            justify-content: space-between;
            align-items: center;
            display: flex;
            margin-bottom: 80px;
      }
      // display: flex;
      // justify-content: space-between;
      // align-items: center;
      // display: flex;
      // margin-bottom: 80px;
      &__top {
            display: flex;
            justify-content: space-between;
            margin-bottom: 50px;
            align-items: center;
      }
      &__pic {
            margin-right: 60px;
      }
      &__text {
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            color: #323232;
            &-title {
                  font-weight: 700;
                  font-size: 22px;
                  line-height: 25px;
                  letter-spacing: 0.05em;
                  text-transform: uppercase;
                  margin-bottom: 10px;
            }
      }
      &__nav {
            align-items: center;
            display: flex;
      }
}
.slick-dots li.slick-active button:before {
      opacity: 0.75;
      color: #007fa7;
      font-size: 32px;
}

.slick-dots li:not(:last-child){
      // margin-right: 10px;
}
.slick-dots li button:before {
      font-family: "slick";
      font-size: 27px;
      line-height: 20px;
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 20px;
      content: "•";
      text-align: center;
      opacity: 0.25;
      color: #007FA7;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
}
.slick-dots{
      bottom: 8px;
}
@media (max-width: 768px) {
      .card {
            &__one,
            &__two,
            &__three {
                  flex-wrap: wrap;
                  margin-bottom: 30px;
            }
            &__two {
            }
            &__three {
            }
            &__pic {
                  margin-bottom: 30px;
                  max-width: 738px;
            }
      }
}

@media (max-width: 320px) {
      .card {
            &__one,
            &__two,
            &__three {
                  text-align: center;
            }
            &__two {
            }
            &__three {
            }
            &__pic {
                  max-width: 290px;
            }
      }
}
